body {
    font-family: sans-serif;
    margin: 0;
    padding:0;
    min-height: 100vh;
    display: flex; 
    flex-direction:column;
}

.header {
    background-color: #6F73D2;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    Padding: 0 150px 0 150px;
}

.hero-logo-text {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7Eb;
    text-decoration: none;
}

.hero {
    background-color: #6F73D2;
    display: flex;
    flex-basis: 0%;
    justify-content: center;
    gap: 8em;
    Padding: 50px 150px;
}

img {
    height: 200px;
    width: 300px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    min-width: 340px;
}

.hero-main-text {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;

}

.hero-subtext {
    color:#E5E7Eb;
    font-size: 18px;
    margin-bottom: 15px;
}

.signup-button {
    color:#f9faf8;
    background-color: #83C9F4;
    border: 1px solid #83C9F4;
    flex-shrink: 0;
    border-radius: 5px;
    width: 75px;
    height: 25px;
}

.middle-container {
    background-color:#f9faf8;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 75px;
}

.information-header {
    font-size: 36px;
    color:#7681B3;
    font-weight: 900;
    padding-bottom: 50px;
}

.set-container {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 5em;
    width: 700px;
}

.card {
    border: 2px solid #A3D5FF;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text {
    width: 115px;
    color: grey;
    font-size: 12px;
}
.set {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote-container {
    background-color: #D9F0FF;
    Padding: 100px 150px;
}

.quote {
    font-style:italic;
    color: #7681B3;
    font-size: 36px;
    font-weight:lighter;
    margin-bottom: 20px;
}

.author {
    font-weight:900;
    text-align: right;
}

.bottom-container {
    background-color:#f9faf8;
    padding: 100px;
}

.action-container {
    background-color: #7681B3;
    color: #f9faf8;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 50px;
}

.call {
    display:flex;
    flex-direction: column;
}

.title {
    font-weight: bolder;
}

.action-button {
    color: #f9faf8;
    background-color: #7681B3;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    width: 75px;
    height: 25px;
}

.footer {
    background-color: #6F73D2;
    color:#E5E7EB;
    text-align: center;
    padding: 25px;
}